*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.6;
  padding: 2.5rem; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center; }

.content {
  padding: 5rem 0;
  display: flex; }

.section__title {
  font-size: 1.8rem;
  font-weight: 700;
  flex: 0 0 100%; }

.article__category {
  color: red;
  text-transform: uppercase; }

.image__caption {
  color: #999;
  letter-spacing: .2px;
  line-height: 1.4rem;
  font-size: 1.1rem; }

.menu__list {
  display: flex;
  list-style: none; }

.menu__list--item {
  margin-right: 3rem; }
  .menu__list--item a {
    text-decoration: none; }

.most-viewed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  justify-content: space-between; }
  .most-viewed__primary {
    display: flex;
    flex: 0 0 62%;
    justify-content: space-between; }
    .most-viewed__primary .article__text {
      flex: 0 0 35%; }
      .most-viewed__primary .article__text .article__title {
        font-size: 2rem; }
      .most-viewed__primary .article__text .article__abstract {
        font-size: 1.4rem;
        color: #555555; }
    .most-viewed__primary .article__figure {
      flex: 0 0 55%;
      display: table; }
      .most-viewed__primary .article__figure .image__caption {
        display: table-caption;
        caption-side: bottom; }
  .most-viewed__secondary {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .most-viewed__secondary--top, .most-viewed__secondary--bottom {
      display: flex; }
    .most-viewed__secondary .article__text .article__title {
      font-size: 1.6rem; }
    .most-viewed__secondary .article__text .article__abstract {
      font-size: 1.4rem;
      color: #555555; }
