*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: .1px;
  padding: 2.5rem; }

a:link,
a:visited {
  text-decoration: none;
  color: #000; }

ul li {
  list-style: none; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: #fff; }

.content {
  padding: 4rem 0;
  display: flex; }

.section__title {
  font-size: 1.8rem;
  font-weight: 700;
  flex: 0 0 100%;
  margin-bottom: 2rem;
  border-top: 1px solid #000; }
  .section__title::before {
    content: "";
    display: block;
    margin-top: 5px; }

.article__title {
  margin-bottom: .8rem; }

.article__abstract {
  color: #555555;
  font-size: 1.4rem; }

.article__text {
  padding-right: 1rem; }

.article__category {
  font-size: 1.2rem;
  font-weight: 600;
  color: #e3120b;
  text-transform: uppercase; }

.image__caption {
  color: #999;
  letter-spacing: .2px;
  line-height: 1.4rem;
  font-size: 1.1rem; }

.topnav {
  display: flex;
  height: 100%;
  align-items: center; }
  .topnav .logo__image {
    display: block;
    height: 6rem; }
    .topnav .logo__image:hover {
      opacity: .8; }
    .topnav .logo__image:active {
      outline: 2px solid #19d2b9; }
  .topnav__menu {
    display: flex;
    list-style: none;
    align-items: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-left: 1.6rem;
    height: 100%;
    width: 100%; }
  .topnav .menu__list {
    padding: 0 3rem 0 3rem;
    border-right: 1px solid #d7d7d7; }
    .topnav .menu__list-link {
      font-size: 1.6rem;
      font-weight: 400; }
      .topnav .menu__list-link:hover {
        border-bottom: 2px solid #3c4faf;
        color: #3c4faf; }
      .topnav .menu__list-link:active {
        border-bottom: 2px solid #19d2b9;
        color: #000; }

.article-link {
  cursor: pointer; }
  .article-link:hover .article__title {
    text-decoration: underline;
    color: #3c4faf; }

.most-viewed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  justify-content: space-between; }
  .most-viewed__primary {
    display: flex;
    flex: 0 0 65%;
    justify-content: space-between;
    padding-right: 1.5rem; }
    .most-viewed__primary .article__text .article__title {
      font-size: 2rem; }
    .most-viewed__primary .article__photo {
      display: table; }
      .most-viewed__primary .article__photo .image__caption {
        display: table-caption;
        caption-side: bottom; }
  .most-viewed__secondary {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    border-left: 1px solid #d7d7d7; }
    .most-viewed__secondary-children {
      display: flex;
      padding-bottom: 1.5rem; }
      .most-viewed__secondary-children:not(:last-child) {
        border-bottom: 1px solid #d7d7d7; }
      .most-viewed__secondary-children:not(:first-child) {
        padding-top: 1.5rem; }
    .most-viewed__secondary .article__text .article__title {
      flex: 0 0 20%;
      font-size: 1.6rem; }
  .most-viewed__tertiary {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    display: flex;
    border-top: 1px solid #d7d7d7; }
    .most-viewed__tertiary-children {
      padding: 0 1.5rem;
      border-right: 1px solid #d7d7d7; }
      .most-viewed__tertiary-children:first-child {
        padding-left: 0; }
    .most-viewed__tertiary-extra {
      flex: 0 0 30%;
      padding-left: 1.5rem; }
      .most-viewed__tertiary-extra--sub {
        display: flex;
        padding: 1.5rem 0; }
        .most-viewed__tertiary-extra--sub .article__photo {
          margin-right: 1rem; }
        .most-viewed__tertiary-extra--sub img {
          width: 95%; }
        .most-viewed__tertiary-extra--sub .article__text .article__title {
          font-size: 1.4rem; }
        .most-viewed__tertiary-extra--sub:not(:last-child) {
          border-bottom: 1px solid #d7d7d7; }
    .most-viewed__tertiary .article__text {
      padding-right: 0; }
    .most-viewed__tertiary .article__title {
      font-size: 1.6rem; }
