.most-viewed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    justify-content: space-between;

    &__primary {
        display: flex;
        flex: 0 0 65%;
        justify-content: space-between;
        padding-right: 1.5rem;
     
        .article__text {

            & .article__title {
                font-size: $font-size-title-primary;
            }

            & .article__abstract {
                font-size: $font-size-abstract;
                color: $color-abstract;
            }
        }

        .article__photo {
            display: table;

            & .image__caption {
                display: table-caption;
                caption-side: bottom;
            }
        }
    }

    &__secondary {
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        border-left: 1px solid $color-border-grey;

        &--top,
        &--bottom {
            display: flex;
            padding: 1.5rem 0;
            border-bottom: 1px solid $color-border-grey;
        }

        & .article__text {
            & .article__title {
                flex: 0 0 20%;
                font-size: $font-size-title-secondary;
            }
        }

    }



}