.container {
    max-width: 114rem;
    margin: 0 auto;
}

.header {
    font-size: 1.4rem;
    height: 8rem;
    background-color: #fff;
    border-top: 1px solid $color-border-grey;
    border-bottom: 1px solid $color-border-grey;
    display: flex;
    align-items: center;
}

.content {
    padding: 4rem 0;
    display: flex;
}