.container {
    max-width: 144rem;
    margin: 0 auto;
}

.header {
    font-size: 1.4rem;
    height: 8rem;
    background-color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.content {
    padding: 5rem 0;
    display: flex;
}