.section__title {
    font-size: 1.8rem;
    font-weight: 700;
    flex: 0 0 100%;
    margin-bottom: 2rem;
    border-top: 1px solid $color-black;
    
    &::before {
        content: "";
        display: block;
        margin-top: 5px;
    }
}

.article__title {
    margin-bottom: .8rem;
}
.article__abstract {
    color: $color-abstract;
    font-size: $font-size-abstract;
}
.article__text {
    padding-right: 1rem;
}

.article__category {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-category;
    text-transform: uppercase;
}

.article__image-caption {
    color: #999;
    letter-spacing: .2px;
    line-height: 1.4rem;
    font-size: 1.1rem;
}