.section__title {
    font-size: 1.8rem;
    font-weight: 700;
    flex: 0 0 100%;
}

.article__category {
    color: red;
    text-transform: uppercase;
}

.image__caption {
    color: #999;
    letter-spacing: .2px;
    line-height: 1.4rem;
    font-size: 1.1rem;
}