$font-size-title-primary: 2rem;
$font-size-title-secondary: 1.6rem;
$font-size-abstract: 1.4rem;


$color-abstract: rgb(85, 85, 85);
$color-category: rgb(227, 18, 11);

$color-border-grey: rgb(215, 215, 215);
$color-border-black: #000;