$font-size-title-primary: 2rem;
$font-size-title-secondary: 1.6rem;
$font-size-abstract: 1.4rem;

$color-abstract: rgb(85, 85, 85);
$color-category: rgb(227, 18, 11);
$color-link-hover: rgb(60, 79, 175);
$color-link-active: #19d2b9;

$color-grey: rgb(215, 215, 215);
$color-black: #000;

$padding-medium: 1.5rem;